.container {
  padding: 3em 0;
  animation: show .7s ease-in-out;
}

.content {
  margin: 2em;
  text-align: center;
}

.opened {
  animation: show .7s ease-in-out;
}

.opened > button {
  background: #f0574a;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 1em 3em;
  outline: none;
  margin-top: 1em;
}

.opened > button:hover {
  opacity: 0.75;
}

@keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 975px)  {
  .content {
    margin: 1em;
  }
}

@media (max-width: 715px)  {
  .content {
    margin: .5em;
  }
}
